:root {

}

body {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 4rem auto 2rem;
    min-height: 100vh;
    margin: 0;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: none;
    height: 90vh;
}

.board-cell {
    border: 1px solid grey;
}

.tokenA, tokenB {
    align-self: center;
    justify-self: center;
}

.tokenA::before {
    content: "x";
    font-size: 80;
}

.tokenB::before {
    content: "o";
    font-size: 80;
}