:root {
    /*Color defs*/
    --eggshell: #F4F1DE;
    --terracotta: #E07A5F;
    --rose-taupe: #8F5D5D;
    --independence-blue: #3D405B;
    --steel-teal: #5F797B;
    --green-sheen: #81B29A;
    --deep-champagne: #F2CC8F;
}

body {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 4rem auto 2rem;
    min-height: 100vh;
    margin: 0;
}

header {
    align-self: center;
    justify-self: center;
    background-color: var(--deep-champagne);
    width: 100%;
}

h1 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--eggshell);
}

button {
    padding: 1rem 2rem;
    border-style: none;
    border-radius: 10px;
    margin: 2rem;
    font-size: 2rem;
    background-color: --;
}

footer {
    background-color: var(--eggshell);
    height: 100%;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: none;
    height: 50vh;
    width: 50vh;
    background-color: var(--independence-blue);
}

.board-cell {
    border: 1px solid var(--eggshell);
}

.tokenA, .tokenB {
    align-self: center;
    justify-self: center;
    font-size: 80px;
}

.tokenA::before {
    content: "x";
}

.tokenB::before {
    content: "o";
    font-size: 80;
}

#start-btn {
    background-color: var(--rose-taupe);
    color: white;
}

#clear-btn {
    background-color: var(--steel-teal);
    color: white;
}